 <% if @user.errors.any?%>
 <h2>Errors:</h2>
 <% @user.errors.full_messages.each do |msg|%>
 <ul>
   <li><%= msg %></li>
 </ul>
 <% end %>
 <% end %>

 <%= form_with(model:@user, local: true) do |f| %>
 <p>
   <%= f.label :username %><br />
   <%= f.text_field :username, placeholder: "Enter your username" %>
 </p>

 <p>
   <%= f.label :email %><br />
   <%= f.email_field :email, placeholder: "Enter your email address" %>
 </p>

 <p>
   <%= f.label :password %><br />
   <%= f.password_field :password, placeholder: "Choose your password " %>
 </p>

 <p>
   <%= f.submit %>
 </p>
 <p>
   <%= link_to '[Cancel and returns to article listing]', articles_path %>
 </p>

 <% end %>